@use '../variaveis';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    border: none;
    height: 48px;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 1.6;
    color: variaveis.$corTextoSecundario;
    background: linear-gradient(90deg, variaveis.$corDeFundoBotaoPrimario, variaveis.$corDeFundoBotaoSecundario);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;

        &:hover {
            background: linear-gradient(90deg, darken(variaveis.$corDeFundoBotaoPrimario, 8%), darken(variaveis.$corDeFundoBotaoSecundario, 8%));
            cursor: pointer;
        }
}