$corDeFundo1: rgb(0, 0, 0);
$corDeFundo2: rgb(91, 91, 218);
$corDeFundo3: #080000;
$corDeFundo4: #381306;
$corDeFundo5: rgb(70, 4, 59);
$corTextoPrincipal: #ffffff;
$corTextoSecundario: #cacaca;
$corDeFundoBotaoPrimario:rgb(128, 33, 236);
$corDeFundoBotaoSecundario:  rgb(2, 47, 87);